.profile-page {
    width: 95vw;
    height: 100vh;
    margin: 30px;   
}
.side-profile-div {
    display: flex;
    width: 70%;
    height: 60%;
    border: 2px solid #047A46;
    border-radius: 30px;
    align-items: center;
    margin: auto;
}
.profile-card img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    
}
.owner-profile-info, .user-profile-info {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.owner-profile-info p, .user-profile-info p, .username span{
    font-size: 24px;
}
.profile-card {
   width: 50%;
   height: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
}
.username {
    margin-bottom: 40px;
}

.fa-user-pen {
    margin-left: 10px;
    color: white;
    font-size: 24px;
    margin-right: 5px;

}
.edit-btn {
    border: 1px solid #047A46;
    border-radius: 20px;
    background-color: #047A46;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
}
.edit-btn:hover {
    color: white;
    opacity: 0.9;

}
.profile-edit-page {
    justify-content: center;
   
}






