@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.home-page {
    width: 100vw;
    height: 100vh;
}
.home-header {
    width: 100%;
    height: 80%;
    background-image: url('../../../public/images/RainbowVeggies.jpeg');
    background-repeat: no-repeat;
}

