.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
    }
}
.img-register{
  width: 500px;
  height: 600px;
}
.fw-bold {
  color: #047A46;
}
.form-outline .form-control {
  border: 1px solid #047A46;
}
.register-btn {
  background-color: #047A46!important;
  border: none!important;
}
.fa-eye-slash, .fa-eye {
  position: absolute;
  top: 43px;
  right: 15px;
  color: #047A46;
}





