
.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
    }
}
@media screen and (max-width: 1180px) {
  .img-register {
    width: 520px!important;
    height: 630px!important;
  }
}
@media screen and (max-width: 850px) {
  .img-register {
    display: none!important;
  }
}


.img-register{
  width: 650px;
  height: 800px;
}
.fw-bold {
  color: #047A46;
}
.form-outline .form-control {
  border: 1px solid #047A46;
}
.register-btn {
  background-color: #047A46!important;
  border: none!important;
}
.fa-eye-slash, .fa-eye {
  position: absolute;
  top: 43px;
  right: 34px;
  color: #047A46;
}
.form-text {
  color: #047A46!important;
}
.form-text-error {
  color: red!important;
}
.is-invalid {
  border-color: #dc3545!important;
}
.register-form input, .profile-edit-form input{
  margin-bottom: 0px!important;
}

.style-img {
    background-color: hsla(0, 0%, 100%, 0.55)!important;
    backdrop-filter: blur(30px)!important;
}





