*:focus {
    outline: none!important;
}
.img-fluid {
    border-radius: '1rem 0 0 1rem'

}
.login-title {
    color: #047A46;
    text-align: center;
}
.login-btn {
    background-color: #047a46 !important;
    color: white!important;
    margin: 0px !important;
    box-shadow: none!important;
    

}
.login-btn:hover {
    border: none !important;
    box-shadow: none!important;
    
}
.login-btn:focus {
    transition: none!important;
    box-shadow: none!important;
}
.style-br {
    border-radius: 1rem!important;

}
.img-fluid {
    border-radius: '1rem 0 0 1rem'!important;
}

